  <h1>
    <%= form_for @student do |f| %>
    <div class="container">

      <p><%= f.label :name %></p>
      <p><%= f.text_field :name %></p>

      <p>
        <%= f.submit %>
      </p>


    </div>
  <% end %>
  </h1>
