  <script type="text/javascript">
    function makeEditable(div){
      div.contentEditable = true;
    }
  </script>

  <h1 ondblclick="makeEditable(this)">Show</h1>

    <div id="student">
      <br>
      <%= @student.name %><br><br>



  <div class="linksb">

    <%= link_to "Back", students_path %>
    <%= link_to "Edit", edit_student_path(@student) %>
    <%= link_to "Destroy", student_path(@student), method: :delete, data: { confirm: "Confirm Deletion?"} %>

  </div>
